body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 15px;
	background-color: rgb(206, 204, 204);
}
p {
	font-size: 24px;
	color: rgb(85, 7, 7);
	margin-bottom: 25px;
}
.table {
	max-width: 800px;
	display: grid;
	grid-template-columns: 400px 400px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(178, 187, 160);
}
.table td {
	border: 1px solid #000;

	padding: 15px;
}

.product-table {
}
.table__check {
	max-width: 800px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	row-gap: 5px;
	column-gap: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(246, 239, 42);
}
.table__check td {
	border: 1px solid #000;
	padding: 5px;
	border-radius: 5px;
}
.total {
	grid-column: span 3;
	font-size: 28px;
}
.title {
	font-size: 22px;
	grid-column: span 4;
}
